<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" width="100%" height="225" src="/images/elle-mills.png" preserveAspectRatio="xMidYMid slice" role="img"></img>
            <div class="card-body">
              <p class="card-text d-inline-block"> Random Elle Of The Mills Video!</p>
              <a href="/videos?ellemills" type="button" class="btn btn-sm btn-outline-secondary float-right">View</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" width="100%" height="225" src="/images/c-neistat.jpg" preserveAspectRatio="xMidYMid slice" role="img" ></img>
            <div class="card-body">
              <p class="card-text d-inline-block">Random Casey Neistat Vlog!</p>
              <a href="/videos?cneistat" type="button" class="btn btn-sm btn-outline-secondary float-right">View</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" width="100%" height="225" src="/images/fpsrussia.jpg" preserveAspectRatio="xMidYMid slice" role="img" ></img>
            <div class="card-body">
              <p class="card-text d-inline-block">Random fpsRussia Video!</p>
              <a href="/videos?fpsrussia" type="button" class="btn btn-sm btn-outline-secondary float-right">View</a>
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" width="100%" height="225" src="/images/tom-scott.jpg" preserveAspectRatio="xMidYMid slice" role="img" ></img>
            <div class="card-body">
              <p class="card-text d-inline-block">Random Tom Scott Video!</p>
              <a href="/videos?tomscott" type="button" class="btn btn-sm btn-outline-secondary float-right">View</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" width="100%" height="225" src="/images/mkbhd.jpg" preserveAspectRatio="xMidYMid slice" role="img" ></img>
            <div class="card-body">
              <p class="card-text d-inline-block">Random Marques Brownlee Video!</p>
              <a href="/videos?mkbhd" type="button" class="btn btn-sm btn-outline-secondary float-right">View</a>
            </div>
          </div>
        </div>


        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" width="100%" height="225" src="/images/m-reeves.jpg" preserveAspectRatio="xMidYMid slice" role="img" ></img>
            <div class="card-body">
              <p class="card-text d-inline-block">Random Michael Reeves Video!</p>
              <a href="/videos?mreeves" type="button" class="btn btn-sm btn-outline-secondary float-right">View</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" width="100%" height="225" src="/images/mgman.jpg" preserveAspectRatio="xMidYMid slice" role="img" ></img>
            <div class="card-body">
              <p class="card-text d-inline-block">Random Mystery Guitar Man Video!</p>
              <a href="/videos?mgman" type="button" class="btn btn-sm btn-outline-secondary float-right">View</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" width="100%" height="225" src="/images/d-dobrik.jpg" preserveAspectRatio="xMidYMid slice" role="img" ></img>
            <div class="card-body">
              <p class="card-text d-inline-block">Random David Dobrik Vlog!</p>
              <a href="/videos?ddobrik" type="button" class="btn btn-sm btn-outline-secondary float-right">View</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" width="100%" height="225" src="/images/d-gooden.jpg" preserveAspectRatio="xMidYMid slice" role="img" ></img>
            <div class="card-body">
              <p class="card-text d-inline-block">Random Drew Gooden Video!</p>
              <a href="/videos?dgooden" type="button" class="btn btn-sm btn-outline-secondary float-right">View</a>
            </div>
          </div>
        </div>
    
      </div>
    </div>
  </div>
  